---
layout: page
title: Tags
header: Posts By Tag
---
{% include JB/setup %}

<div class="row">
  <section class="ten columns offset-by-one">
    <ul class="tag_box inline">
      {% assign tags_list = site.tags %}  
      {% include JB/tags_list %}
    </ul>
  </section>
</div>

<div class="row">
  <section class="ten columns offset-by-one">
    {% for tag in site.tags %} 
    <div class="list_block">
      <div class="m_tag_list_block" >
        <h2 id="{{ tag[0] }}-ref">{{ tag[0] }}</h2>
        <ul>
          {% assign pages_list = tag[1] %}  
          {% include JB/pages_list %}
        </ul>
      </div>
    </div>
    {% endfor %}
  </section>
</div>
