/* Gorilla Studios - Chris Peak ©2003-2012 */

body {
  border-top: 4px solid #ACC28F;
  font-family: "proxima_novalight", serif;
  font-size: 18px;
  padding: 0;
  margin: 0; 
}

a, a:visited { 
  color: #6da04b; 
  text-decoration: none;  
}
a:hover { 
  color: #000; 
}

h1, h2, h3, h4, h5, h6 {
  color: #444;
  font-family: "LeagueGothicRegular";
  font-weight: normal;
  text-transform: uppercase;
  margin: 0;
  padding: 0; 
}

h3 { 
  font-size: 1.777em; 
  line-height: 0.8441193em;
  margin-bottom: 0.8441193em;
}
h4 { 
  font-size: 1.333em; } 
h5 { font-size: 25px; }

p {
  color: #333;
  font-weight: normal;
  line-height: 1.5em;
  margin: 0; 
  padding-bottom: 1.5em; 
}

ul { 
  list-style: none; 
  margin: 0 0 1.5em 0; 
  padding: 0; 

}

.row { padding: 40px; } /* Bootstrap hack - need to fix */

.pagination ul { display: block; list-style: none; }

/* Clearfix */
.cf:before, .cf:after { content: ""; display: table; }
.cf:after { clear: both; }
.cf { zoom: 1; }

.floating { display: block; max-width: 100%;}

.l_left { float: left; }
.l_right { float: right; }
.l_center { margin: 0 auto; }
.l_half_col { width: 48%;  }
.l_full_column { width: 90%; max-width: 900px; }
