/* Gorilla Studios - Chris Peak ©2003-2012 */
/* Legend

  =N Header and Navigation
  =L Layout
  =F Footer
  =T Typekit defs
  =SB Sidebar
  =H Home Page
  =G Gallery
*/

/* ############################################## */
/* ############## LAYOUT =L ##################### 
   === Anatomy ===
  body
    container
      header
      content
	m_blog
	m_sidebar
	m_footer
*/

.container {
  margin: 0 auto;
  overflow: hidden; 
  width: 95%;
  max-width: 1100px;  
}

.content { 
  border-top: 1px solid #ccc;
  padding-top: 10px; 
}


/* ############################################## */
/* ######## HEADER & NAVIGATION =N ############## */

header a { text-decoration: none; border: none; }

.brand { margin: 10px auto 0px;  width: 200px; }

.navbar { height: 63px; margin: 0 auto; }

.nav a.active { color: #000; }

.nav { 
  margin: 0 auto; 
  padding: 19px 0px 0px 0px; 
  width: 395px; 
}

.nav li { display: inline; }

.nav li a {
  color: #aaa; 
  font-family: "SourceSansProRegular", sans-serif;
  font-weight: 400;
  font-size: .7em; 
  text-transform: uppercase;
  padding: 3px 10px;
}

.nav li a:hover { border-bottom: 2px solid #ACC28F; color: #000 !important;  }


/* ############################################## */
/* ############### SIDEBAR =SB ################## */

.m_sidebar {
  float: right;
  font-size: .8em;
  margin-top: 20px; 
  text-align: center; 
  width: 22%;
}

.m_sidebar h5 { margin-top: 20px; }

.affiliate_link a {
  background-image: url('/images/borrow_lenses.jpg');
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
  height: 437px;
  width: 130px;
  max-width: 100%;
  
}

.tweet_list li { 
  line-height: 1.4em; 
  margin-bottom: 5px; 
  padding: 5px 10px;
  text-align: left; 
}
.tweet_list li:nth-child(odd) { background: #f2f7fc; }
.tweet_avatar {
  float: left; 
  display: block;
  margin: 5px 3px 0px 0px;
}

/* ############################################## */
/* ############### FOOTER =F #################### */

footer {
  float: left; 
  margin-top: 40px; 
  width: 100%; 
}
footer p {
  color: #ccc !important;
  font-size: .7em; 
  padding: 10px 0px;
  text-align: center; 
  text-shadow: 0px -1px 1px #fff; 
}


/* ############################################## */
/* ################## TYPE =T ################### */

@font-face { 
  font-family: 'SourceSansProLight';  /* Post copy type */
  src: url('/type/SourceSansPro-Light-webfont.eot');
  src: url('/type/SourceSansPro-Light-webfont.eot?#iefix') format('embedded-opentype'),
       url('/type/SourceSansPro-Light-webfont.woff') format('woff'),
       url('/type/SourceSansPro-Light-webfont.ttf') format('truetype'),
       url('/type/SourceSansPro-Light-webfont.svg#SourceSansProLight') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SourceSansProLightItalic'; /* Post copy italic */
  src: url('/type/SourceSansPro-LightIt-webfont.eot');
  src: url('/type/SourceSansPro-LightIt-webfont.eot?#iefix') format('embedded-opentype'),
       url('/type/SourceSansPro-LightIt-webfont.woff') format('woff'),
       url('/type/SourceSansPro-LightIt-webfont.ttf') format('truetype'),
       url('/type/SourceSansPro-LightIt-webfont.svg#SourceSansProLightItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SourceSansProRegular'; /* Navigation */
  src: url('/type/SourceSansPro-Regular-webfont.eot');
  src: url('/type/SourceSansPro-Regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('/type/SourceSansPro-Regular-webfont.woff') format('woff'),
       url('/type/SourceSansPro-Regular-webfont.ttf') format('truetype'),
       url('/type/SourceSansPro-Regular-webfont.svg#SourceSansProRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LeagueGothicRegular'; /* Headlines */
  src: url('/type/League_Gothic-webfont.eot');
  src: url('/type/League_Gothic-webfont.eot?#iefix') format('embedded-opentype'),
       url('/type/League_Gothic-webfont.woff') format('woff'),
       url('/type/League_Gothic-webfont.ttf') format('truetype'),
       url('/type/League_Gothic-webfont.svg#LeagueGothicRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

code { 
  padding: 4px 5px;
  color: #3366cc;
  font-size: .75em; 
}


/* ############################################## */
/* ########### =H HOME PAGE - POSTS ############# */

.m_blog { /* Blog posts container */
  float: left; 
  width: 75%;
  max-width: 800px; 
}
.post { border: 1px solid #fff; }

.m_post_date { border: 1px solid #fff;} 
.m_post_date a { /* ### Blog Post Title ### */
  color: #333;
  font-family: "LeagueGothicRegular";
  font-size: 2.369em;
  text-transform: uppercase;
  text-decoration: none;
}

.m_post_date a:hover { color: #5A7D5F; }

.post img,
.span8 img {
  display: block;
  margin: 0 auto 1.5em auto;
  max-width: 100%; 
}


.m_post_break {	/* Dashed post separator */
  border-bottom: 1px dashed #777; 
  margin: 0 auto 1.45em auto;
  width: 500px;
}

.quote {
  background: #f2f2f2;
  border: 1px solid #ccc;
  font-style: italic;  
  margin: 0 auto; 
  padding: 20px; 
  width: 70%;
}

.pagination { text-align: center; }
.pagination ul li { display: inline; }


/* ############################################## */
/* ############## ARCHIVE TAGS ################## */

.m_tools_list h4 { margin-top: 20px; }

.tag_box {
  list-style:none;
  margin:0;
  padding: 5px 0 ;
  overflow:hidden;
}
.tag_box li { line-height:28px; }
.tag_box.inline li { float:left; }

.tag_box a {
  background: #8aa677;
  border-radius: 3px;
  color:#fff;
  line-height: 2em; 
  margin: 2px;
  padding: 10px 8px 6px 8px;
  text-decoration:none;
}
.tag_box a span{
  vertical-align:super;
  font-size:0.8em;
}
.tag_box a.active {
  background:#57A957;
  border:1px solid #4C964D;
  color:#FFF;
}

.tag_box a:hover { color: #000; }


.list_block {
  border: 1px solid #ccc;
  display: inline-block;
  float: left;
  font-size: .9em;
  margin: 1%;
  height: 370px; 
  width: 30%;
}
.m_tag_list_block {
  padding: 3%;
}
.m_tag_list_block h2 {
  text-align: center;
  padding: 0;
}

/* ############################################## */
/* ############## CONTACT PAGE ################## */

.contact_form p { 
  font-size: 1.1em; 
  padding-top: 7px; 
  height: .4em; 
}

input[type="text"], textarea { 
  padding: 4px;
  width: 90%; 
}
.social_links {
  margin: 5px 0px; 
  vertical-align: middle; 
}



/* ############################################## */
/* ################ =G GALLERY ################## */

/* ############################################## */
/* ############## PHOTO 365 ################# */

.gallery_list li {
  float: left;
  margin: 0px 1% 0.5% 0px;
  width: 24%;
}
.gallery_list li img {
  max-width: 100%;
}

/* ############################################## */
/* ############## MEDIA QUERIES ################# */

/* ------------ iPhone Landscape =IPL ----------------- */
@media only screen and (min-width : 321px) and (max-width: 480px) {
  .container {
    background: #fff; 
    width: 100%;
  }

  .mobile_center { text-align: center; }
  .m_blog {
    float: none;
    margin: 0 auto;
    width: 95%;
  }
  .l_half_col { 
    float: none !important; 
    width: 95%; 
  }

  /* SIDEBAR */
  .m_sidebar {
    float: none;
    margin: 0 auto;
    width: 95%;
  }

  .affiliate_link a {
    background-image: url('/images/borrow_lenses_iphone.jpg');
    background-repeat: no-repeat;
    margin: 0 auto;
    max-height: 250px;
    width: 95%; 
  }
  
  /* CONTACT PAGE */
  input[type="text"], textarea { 
    padding: 4px;
    width: 100%; 
  }
  /* Photo 365 */
  .challenge_list li {
    float: none;
    margin: 0px auto 10px auto;
    width: 90%;
  }
  .challenge_list li img {
    display: block;
    margin: 0 auto;
  }
}

@media only screen and (max-width : 320px) {


  .container {
    background: #fff; 
    width: 100%;
   }
  .brand {
    margin: 15px auto 0px auto;
    width: 140px;
  }
  .brand img {
    max-width: 100%; 
  }
   
  .navbar {
    height: 215px;
    width: 320px;
  }
  .nav li a {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;  
    color: #333; 
    display: block;
    margin: 5px 0px;
    padding: 8px;
    text-align: center; 
    width: 310px;
  }
  .m_blog {
    float: none;
    margin: 0 auto;
    width: 95%;
  }
  .l_half_col { 
    float: none !important; 
    width: 95%; 
  }

  .content p { font-size: 16px; }

  /* SIDEBAR */
  .m_sidebar {
    float: none;
    margin: 0 auto;
    width: 100%;
  }

  .affiliate_link a {
    background-image: url('/images/borrow_lenses_iphone.jpg');
    background-repeat: no-repeat;
    margin: 0 auto;
    max-height: 250px;
    width: 99%; 
  }
  /* CONTACT PAGE */
  input[type="text"], textarea { 
    padding: 4px;
    width: 100%; 
  }
  .gallery_list li {
    float: none;
    margin: 0px auto 10px auto;
    width: 90%;
  }
  .gallery_list li img {
    display: block;
    margin: 0 auto;
  }
}
